{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sultan Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <h1><a href="{% url 'home' %}">Sultan Blog</a></h1>
</header>
{% if user.is_authenticated %}
    <p>Xush kelibsiz {{ user.username }}</p>
    <p><a href="{% url 'logout' %}">Chiqip ketish</a></p>
{% else %}
    <p><a href="{% url 'login' %}">Saytga kirish</a></p>|
    <p><a href="{% url 'signup' %}">Ro'yxatdan o'tish</a></p>
{% endif %}
<div>
    {% block content %}
    {% endblock content %}
    <footer>
        <h2><a href="{% url 'post_new' %}">Yangi post yozish</a></h2>
    </footer>
</div>
</body>
</html>